/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import 'tailwindcss';

/* Define custom theme directly in CSS */
@theme {
  /* PRIMARY */
  --color-primary: #98cbff;
  --color-primary-container: #00a3ff;

  /* SURFACE */
  --color-surface: #0b1326; /*Main background*/
  --color-surface-container: #171f33;
  --color-surface-container-low: #131b2e;
  --color-surface-container-lower: #060e20;
  --color-surface-container-lowest: #020618; /* aka. slate-950 */
  --color-surface-container-high: #222a3d;
  --color-surface-container-highest: #2d3449;

  /* OUTLINE */
  --color-outline: #88919d; /* Used for borders*/

  /* TEXT */
  --color-textcolor: #dae2fd;
  /* --color-textcolor: #bec7d4; */

  /* ERROR */
  --color-error: #93000a;
  --color-error-container: red; /* tbd*/
}
@utility scrollbar-custom {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #0b1326;
  }

  &::-webkit-scrollbar-thumb {
    background: #3f4852;
  }
}
/* Flowbite plugin MUST come after Tailwind */
@plugin "flowbite/plugin";

/* Flowbite source */
@source "../../node_modules/flowbite";

/* Theme */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import 'flowbite/src/themes/default';
